body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #0e0e0e;
  position: relative;
}

.screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: #fff;
}

h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

canvas {
  border: 1px solid #fff;
}
